meta(charset="UTF-8")
title Дропшиппинг по электросамокатам в Санкт-Петербурге - стать партнером: продажа электросамокатов.
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="author" content="Nick G.")
//- meta(name="description", content="Сотрудничество по схеме дропшиппинг. Дропшиппинг по электросамокатам санкт-петербург, стать партнером дропшиппинг. Купить электросамокат санкт-петербург, ")
link(rel="stylesheet" type="text/css" href="css/style.min.css")
//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css")

link(rel="icon" type="image/png" href="favicon.png")

script(async="" type="text/javascript" src="https://cloud.roistat.com/api/site/1.0/67c7cd3fbf024eb8ac660f9e13dbdcc2/approve?visit=1473672")
script(async="" type="text/javascript" src="https://cloud.roistat.com/api/site/1.0/67c7cd3fbf024eb8ac660f9e13dbdcc2/get-settings?visit=1473672")
script(async="" type="text/javascript" src="https://collector.roistat.com/stream/view/-/Y291bnRlcl9pZD02N2M3Y2QzZmJmMDI0ZWI4YWM2NjBmOWUxM2RiZGNjMiZwYWdlPWh0dHBzJTNBJTJGJTJGc2dob2xkaW5nLnJ1JTJGY2F0YWxvZyUyRmVsZWN0cmljX3Njb290ZXIlMkZrdWdvbyUyRmt1Z29vX3MyX2JsYWNrJTJGJmNvb2tpZT1fZ2ElM0RHQTEuMi44MTU2NTI2OTQuMTUzMTg0OTQ3NSUzQiUyMF9naWQlM0RHQTEuMi4xODQxMzE0MTQ5LjE1MzE4NDk0NzUlM0IlMjBfeW1fdWlkJTNEMTUzMTg0OTQ3NTIwNzQzNjk1MCUzQiUyMF95bV9kJTNEMTUzMTg0OTQ3NSUzQiUyMHJvaXN0YXRfZmlyc3RfdmlzaXQlM0QxNDcxODkzJTNCJTIwX19fZGMlM0RiMDgxMzBkMi1hODI0LTRjODgtYWVmNi0wYjI1MzU2MmY1YzQlM0IlMjByb2lzdGF0X2NhbGxfdHJhY2tpbmclM0QxJTNCJTIwcm9pc3RhdF9lbWFpbHRyYWNraW5nX2VtYWlsJTNEbnVsbCUzQiUyMHJvaXN0YXRfbGVhZEh1bnRlckNhdWdodCUzRDElM0IlMjByb2lzdGF0X3Zpc2l0JTNEMTQ3MzY3MiUzQiUyMHJvaXN0YXRfbWFya2VyJTNEc2l0ZV9sb2NhbGhvc3RfJTI1MkYlM0IlMjByb2lzdGF0X21hcmtlcl9vbGQlM0RzaXRlX2xvY2FsaG9zdF8lMjUyRiUzQiUyMF95bV9pc2FkJTNEMiUzQiUyMGxlYWRodW50ZXJfZXhwaXJlJTNEMSUzQiUyMF9nYXQlM0QxJTNCJTIwX3ltX3Zpc29yY180OTQxMTc1OSUzRHcmaG9zdD1zZ2hvbGRpbmcucnUmdmlzaXRfaWQ9MTQ3MzY3MiZwaG9uZT0mX19fZGM9YjA4MTMwZDItYTgyNC00Yzg4LWFlZjYtMGIyNTM1NjJmNWM0")
script(async="" src="https://collector.roistat.com/counter.js")
script(async="" type="text/javascript" src="https://cloud.roistat.com/api/site/1.0/67c7cd3fbf024eb8ac660f9e13dbdcc2/get-phone?visit=1473672&amp;marker=site_localhost_/&amp;prefix=&amp;prefix_bind=&amp;phone_scripts_bind=")
script(async="" src="//www.google-analytics.com/analytics.js")
script(async="" type="text/javascript" src="https://mc.yandex.ru/metrika/tag.js")
script(async="" src="https://cloud.roistat.com/dist/module.js")
script(async="" src="https://cloud.roistat.com/dist/module.js")