doctype html
html(lang="ru")
	head
		include carcass/head.pug

	body
		//- include blocks/carcass/header.pug
		//- include blocks/main/main.pug
		
		//- include blocks/carcass/footer.pug

		
		//- script(src="js/scroll.js")
		
		//- script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")

		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js")
		
		//- script(src="js/script.js")
		//- script(src='js/mask-input-phone.js')
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js")